<script src="../bower_components/react/react.js"></script>
<!-- In-browser JSX transformer, remove when pre-compiling JSX. -->
<script src="../bower_components/react/JSXTransformer.js"></script>
<h1>Resturants </h1>


React.render(React.createElement(HelloMessage, {name: "John"}), mountNode);

<% var i = 0; cursor.forEach( function(item) {  %>

<p><%= i%> - <%= item.name%> </p>
<a href="/view?id=<%= item._id %>">view...</a>

<%
    i = i + 1;
});%>
