<!DOCTYPE html>
<html>
<head>
    <script src="public/js/vendors/react/react.js"></script>
    <script src="public/js/vendors/react/JSXTransformer.js"></script>

</head>


<body>
<div id="example"></div>
<script type="text/jsx">
    React.render(
            <h1>Simple React Demo</h1>,
            document.getElementById('example')
    );

</script>



<div id="RegisterUserForm"></div>

<script>

    function TheFormChanged( form)
    {
        alert('ok');

    }
</script>
</body>

<script type="text/javascript" src="public/js/react/MyInput.js"></script>
<script type="text/javascript" src="public/js/react/MyButton.js"></script>
<script type="text/javascript" src="public/js/react/formRegisterUser.js"></script>


</html>

